[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium-base = "*"
pymysql = "*"
pyyaml = "*"
requests = "*"
requests-oauthlib = "*"
pytest = "*"
faker = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.9"
