---
# make hosts_local.yaml from this file and update with configuration of your local setup
API_HOSTS:
  local:
    url: 'http://192.168.192.168'
    ip: '192.168.192.168'
    socket:
    port:
    hierarchy:
      woo: '/aut_site/wp-json/wc/v3/'
      wp: '/aut_site/wp-json/wp/v2/'

UI_HOSTS:
  local:
    url: 'http://192.168.178.49:8888'
    hierarchy:
      main: '/aut_site/'

DB_HOSTS:
  local:
    url: 'localhost'
    ip: '127.0.0.1'
    schema:
    table_prefix:
    socket:
    port:
