---
# make hosts_local.yaml from this file and update with configuration of your local setup
API_HOSTS:
  local:
    url: 'http://192.168.178.49:8888/aut_site/wp-json/wc/v3/'

DB_HOSTS:
  local:
    url: 'http://192.168.178.49'
    db: aut_site_db
    table_prefix: wp_
    socket:
    port: 8889
